.form {
    background-color: var(--bgSoft);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 10px;
    gap: 30px;
    align-items: center;
}

.form input {
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    color: var(--text);
    border: 2px solid #2e374a;
    background-color: var(--bg);

}

.form button {
    width: 100%;
    padding: 30px;
    background-color: teal;
    border-radius: 5px;
    color: var(--text);
    cursor: pointer;
    border: none;
}